<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Acceuil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/authentificationLocataire" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}">Authentification Locataire</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/authentificationConcessionnaire" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}">Authentification Concessionnaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listeLocataire" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}" *ngIf="localService.estConnecte()">Liste des locataires</a>
  </li>
  <li class="nav-item" *ngIf="localService.estConnecte()">
    <a class="nav-link" (click)="deconnexion()">Deconnexion</a>
  </li>


</ul>
