<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Acceuil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/authentificationLocataire" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}" *ngIf="!localService.concessionnaireConnecte() && !localService.locataireConnecte()">Authentification Locataire</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/authentificationConcessionnaire" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}" *ngIf="! localService.concessionnaireConnecte() && !localService.locataireConnecte()">Authentification Concessionnaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listeLocataire" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}" *ngIf="localService.concessionnaireConnecte()">Liste des locataires</a>
  </li>
  <li class="nav-item" *ngIf="localService.concessionnaireConnecte()">
    <a class="nav-link" (click)="deconnexionConcessionnaire()">Deconnexion</a>
  </li>
  <li class="nav-item" *ngIf="localService.locataireConnecte()">
    <a class="nav-link" (click)="deconnexionLocataire()">Deconnexion</a>
  </li>


</ul>
