
    

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Acceuil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/authentificationLocataire" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Authentification Locataire</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/authentificationConcessionnaire" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">authentificationConcessionnaire</a>
    </li>
  
   
</ul>