<app-navbar-concessionnaire></app-navbar-concessionnaire>

<h2>Modifier le statut de la réservation</h2>
<form #formStatut="ngForm" (ngSubmit)="changerStatut(formStatut)">
  <label for="reservation">La réservation avec l'ID : {{ l.id }}</label><br>
  <label for="reservation">Son statut est : {{ l.statut.nom }}</label><br>
  <label for="reservation">Modifier : </label><br>
  <select ngModel name='statut' class="custom-select" id="inputGroupSelect01">
    <option *ngFor="let statut of listeStatuts" value="{{statut.id}}">{{statut.nom}}</option>
  </select><br>
  <button type="submit" class="btn btn-primary m-2">Valider la modification</button>
</form>
