<footer>
  <section>
    <h3>Plages.IT</h3>
    <ul>
      <li>
        <a href="">Magazine</a>
      </li>
      <li>
        <a href="">Qui sommes nous ?</a>
      </li>
      <li>
        <a href="">FAQ</a>
      </li>
    </ul>

  </section>
  <section>
    <h3>Les conditions</h3>
    <ul>
      <li>
        <a href="">Politique relative aux cookies</a>
      </li>
      <li>
        <a href="">Termes et conditions</a>
      </li>
      <li>
        <a href="">Politique de confidentialité</a>
      </li>
      <li>
        <a href="">Gestion des cookies</a>
      </li>
    </ul>

  </section>
</footer>
