<app-navbar-classique></app-navbar-classique>
<div class="main">
  <section class="titre">
    <h1>Italia Plage</h1>
  </section>
  <section>
    <h3>Le système de gestion numéro 1 en Italie</h3>
    <p>Vous êtes gérant d'une plage ?
      Augmentez vos réservations et gérez votre établissement rapidement et facilement !</p>
  </section>
  <section>
    <h3>Les avantages de nos plages</h3>
    <div>
      <p>Trouvez la plage parfaite
        Comparez entre plus de 1200 établissements
      </p>
    </div>
    <div>
      <p>Emplacements en vedette. Découvrez les destinations les plus recherchées.</p>
    </div>
    <div>
      <p id="mark-text">Plage populaire !</p>
    </div>
  </section>
  <section>
    <h3>Visitez l'Italie</h3>
    <p>L'Italie, pays européen bordé par la Méditerranée et l'Adriatique, a laissé une forte empreinte sur la culture et
      la
      cuisine occidentales. Sa capitale, Rome, abrite le Vatican ainsi que des trésors artistiques et des ruines
      antiques.
      Les
      autres grandes villes comprennent Florence, avec des chefs-d'œuvre de la Renaissance comme le David de Michel-Ange
      et le
      dôme de Brunelleschi, Venise, la ville des canaux, et Milan, la capitale italienne de la mode.</p>
  </section>
</div>
